<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template5.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <input type="search" placeholder="Search">

        <nav>
            <ul>
                <li><a href=""> Home</a></li>
                <li><a href="">Contat us</a></li>
                <li><a href="">Address</a></li>
                <li><a href="">About us</a></li>
            </ul>
            <div class="textbox">
                Grow<span id="textspan">th Stra</span>tegy

                <button>Click Here</button>
            </div>
          
        </nav>
    </header>

    <section class="sec1">
        <h1>How We Work </h1>
        <h3>Sample text. Click to select the text box. Click again or double click to start editing the text.</h3>
   
        
        <div class="main1">
            <div class="col1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque earum inventore ratione aliquam nulla minus?</p>
            </div>
        <div class="col2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore sint porro voluptates pariatur consectetur aliquam hic, similique corrupti debitis?</p>
        </div>
        <div class="col3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tempora, culpa consequuntur molestias aspernatur nesciunt animi ab nobis voluptates saepe?</p>
        </div>
      
        </div>
        <button>Click Here</button>
    </section>

    <section class="sec2">
        <div class="main2">
            <div class="col4"></div>
            <div class="col5"><m/div>
            <div class="col6"></div>
            <div class="col7">
                <h1>How We Wok</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, pariatur.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer1">
          A High-Return 
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="footer2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus doloribus obcaecati in iure, atque quo asperiores beatae voluptatibus iusto delectus vero nostrum. Voluptatem reprehenderit quia officia. Cumque maxime labore dolores.</p>
            <button>READ MORE</button>
        </div>
    </footer>
</body>
</html>