<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo4.jpg" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Product</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Content Us</a></li>
            </ul>
            <div class="textbox">

                <h3>Welcome TO Our</h3><br>
                <h1>TRAVEL AGENCY</h1> <br>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda laborum sapiente itaque.</p> <br>
                <button> Click Here</button>
            </div>
        </nav>
      
    </header>
    <section class="sec2">
    <div class="col1">
         <form action="">
            <label for="">Flying from:</label>
            <select name="" id="" class="col1">
                <option value="">Mumbai</option>
                <option value="">Delhi</option>
                <option value="">Bangalore</option>
            </select>

            <label for="">To:</label>
            <select name="" id="" class="col2">
                <option value="">Pune</option>
                <option value="">Hyderabad</option>
                <option value="">Ahemdabad</option>
            </select>
            <label for="">Departing:</label>
            <input type="date">
            <label for="">Returning:</label>
            <input type="date">
            <label for="">Adult:</label>
            <input type="number" name="" id="">
            <label for="">Child:</label>
            <input type="number" name="" id="">

         </form>
    </div>
    </section>

    <section class="sec1"><br><br>
        <h1>WHY WE ARE THE BEST</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam rem quae, porro iste perferendis voluptates et neque commodi illum exercitationem?</p>
        <div class="main">
          
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
        </div>
        <div class="div4">
            <h1>Caucasus Vacation Packages</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptatibus dolorum quasi quam, nisi unde. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae eius necessitatibus sint provident aperiam qui et fuga adipisci, impedit ex dolorem obcaecati molestiae. Dolore ipsa vero reiciendis mollitia sed exercitationem!</p>
            <button>DETALIS</button>
        </div>
    </section>
</body>
</html>